.Map-Blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 9999;
  opacity: 0.5;
}

.btn-container {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 17.5rem;
  /* background-color: beige; */
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .Map-Blur {
    height: 100vh;
  }
}
